@charset "utf-8";


#top 
{
	font-size: 25px;
	width: auto;
	text-decoration: none;
	position: fixed;
	top: 1%;
	left: 4%;

}


#top h1
a:hover 
{
	color: #1d7de9;
	
}


#top
a:visited,a:active,a:link
{
	text-decoration:none;
}


#top
a:visited
{
	color: #ffffff
}


